In [1]:
import sys
import os
from dotenv import load_dotenv
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Load environment variables

In [2]:
load_dotenv()
user = os.environ['PG_USER']
password = os.environ['PG_PASSWORD']
host = os.environ['PG_HOST']
port = os.environ['PG_PORT']
database = os.environ['PG_DATABASE']

# Connect database

In [3]:
def connect():
    conn = None
    try:
        print('Connecting..')
        conn = psycopg2.connect(
              host=host,
              database=database,
              user=user,
              password=password
        )
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        sys.exit(1)   
        
    print("All good, Connection successful!")
    return conn

In [4]:
def sql_to_dataframe(conn, query):
    """Import data from a PostgreSQL database using a SELECT query"""
    cursor = conn.cursor()   
    try:
        cursor.execute(query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    # The execute returns a list of tuples:   
    tuples_list = cursor.fetchall()   
    
    # Now we need to transform the list into a pandas DataFrame:   
    df = pd.DataFrame(tuples_list, columns=[col[0] for col in cursor.description])
    cursor.close()   
    return df

In [5]:
# create query
query = """ SELECT * FROM public.xdr_data  """

#opening the connection
conn = connect()

#loading our dataframe
df = sql_to_dataframe(conn, query)

#closing the connection
conn.close()

Connecting..
All good, Connection successful!

In [7]:
df.sample(10)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
22797,1.304243e+19,4/24/2019 20:39,666.0,4/25/2019 0:01,315.0,12159.0,2.082010e+14,3.369822e+10,3.554171e+13,T73572C,...,12308537.0,12790722.0,15245269.0,15538725.0,206120449.0,12632482.0,826734150.0,5280523.0,49785543.0,247168968.0
30260,7.349883e+18,4/24/2019 11:39,734.0,4/26/2019 10:58,898.0,170329.0,2.082019e+14,3.361321e+10,3.553971e+13,D10348A,...,19231063.0,20399393.0,6086854.0,18663754.0,254302811.0,5431659.0,123156660.0,4115239.0,51365811.0,287497161.0
78688,7.277826e+18,4/27/2019 4:31,971.0,4/28/2019 4:31,877.0,86399.0,2.082017e+14,3.376306e+10,8.637690e+13,T85900A,...,2571824.0,5004379.0,22599987.0,5665564.0,494620228.0,7930945.0,253397194.0,5294120.0,26866371.0,530636404.0
54253,7.349883e+18,4/25/2019 10:46,664.0,4/27/2019 12:51,777.0,180320.0,2.082019e+14,3.366210e+10,3.554331e+13,D10527C,...,13222247.0,1883659.0,15417395.0,16854461.0,59985749.0,9516005.0,530344729.0,9212725.0,39178611.0,98845029.0
88969,6.917538e+18,4/27/2019 13:42,948.0,4/28/2019 0:40,488.0,39473.0,2.082009e+14,3.366293e+10,3.579881e+13,U73608C,...,3400605.0,16731532.0,21723173.0,4376627.0,499848955.0,11332693.0,510678031.0,1558181.0,37994661.0,533372617.0
59920,1.304243e+19,4/26/2019 2:47,789.0,4/27/2019 2:47,717.0,86399.0,2.082014e+14,3.366198e+10,8.637690e+13,D79493B,...,3346265.0,17844171.0,19703118.0,5995889.0,554782916.0,3430208.0,805075225.0,6113934.0,35942117.0,586007572.0
35403,7.349883e+18,4/25/2019 0:59,287.0,4/26/2019 12:52,983.0,129206.0,2.082015e+14,3.363044e+10,3.594111e+13,D70791A,...,323217.0,9627512.0,11111296.0,3160639.0,309228995.0,832179.0,321233311.0,1149090.0,17807549.0,328257046.0
98146,1.311448e+19,4/27/2019 17:03,361.0,4/28/2019 1:01,506.0,28681.0,2.082019e+14,3.361166e+10,3.573531e+13,D23764B,...,14451245.0,9583496.0,15916687.0,485313.0,453087654.0,1306795.0,375072863.0,3799501.0,19353832.0,497811286.0
208,1.311448e+19,4/23/2019 7:53,732.0,4/25/2019 0:01,288.0,144478.0,2.082015e+14,3.376973e+10,3.532651e+13,D36970C,...,14698790.0,14291613.0,1972208.0,7461824.0,110265320.0,7980169.0,403744117.0,3286304.0,34814128.0,139087053.0
102196,7.349883e+18,4/26/2019 17:28,667.0,4/29/2019 0:53,500.0,199459.0,2.082015e+14,3.366213e+10,3.561481e+13,D36342B,...,3051115.0,8354424.0,20413838.0,17976359.0,216641047.0,6284369.0,193678321.0,9735442.0,46144953.0,244048116.0

# Sqlalchemy

In [8]:
def data_from_postgres(query):
    # Create the URI
    uri = f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}"
    
    # Create the engine
    try:
        alchemyEngine = create_engine(uri)
        
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        sys.exit(1)
    print("Engine created!")        
    # Connect to PostgreSQL server
    try:
        dbConnection = alchemyEngine.connect()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        sys.exit(1)

    print("Connection established")
    df = pd.read_sql(query, dbConnection)
    # Close connection
    dbConnection.close()

    return df

In [9]:
# create query
query = """ SELECT * FROM public.xdr_data  """

In [10]:
df = data_from_postgres(query)

Engine created!
Connection established

In [11]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0